<h2>Categorias</h2>
<hr>
{{#each categorias}}

<div class="card-deck">

  <div class="card mt-2"><a href="/categorias/{{slug}}">
    <div class="card-body">
      <h5 class="card-title">{{nome}}</h5>
    </div>
  </a></div>
</div>

{{else}}
<h5>Nenhuma postagem!</h5>
{{/each}}
