<div class="card">
  <div class="card-body">
    <h5 class="card-title" style="text-transform: uppercase; text-align: center">{{postagem.titulo}}</h5>
    <h6 class="card-subtitle mb-2 text-muted mt-4" style="text-transform: uppercase;">{{postagem.descricao}}</h6>
    <small>Criada em: {{postagem.data}}</small>
    <p class="card-text mt-4">{{postagem.conteudo}}</p>
    <p class="mt-4"></p>
    <a href="/" class="card-link">Voltar</a>
  </div>
</div>
